.App {
  font-family: "Poppins", "Lato", "Montserrat", sans-serif;
  background-color: #1b1f3b;
  width: 100vw;
  height: 100vh;
  color: #eaeaea;
}

.Header h1 {
  font-family: "Playfair Display", "Press Start 2P", "Cinzel", serif;
}
