.App {
  font-family: "Poppins", "Lato", "Montserrat", sans-serif;
  background: linear-gradient(
    -45deg,
    #1e90ff,
    #0a3d62,
    #4682b4,
    #5f9ea0
  ); /* Blue tones */
  background-size: 400% 400%;
  animation: gradientAnimation 12s ease infinite;
  width: 100vw;
  height: 100vh;
  color: #eaeaea;
}

.Header {
  display: flex;
  padding: 2rem 0;
}

.Header .Details {
  flex: 0.8;
  padding-left: 2rem;
}

.Header h1 {
  font-family: "Playfair Display", "Press Start 2P", "Cinzel", serif;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Header p {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.ScoreBoard {
  flex: 0.2;
}

@media (max-width: 500px) {
  .Header {
    padding: 1rem 0;
  }
  .Header .Details {
    padding-left: 1rem;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
